[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
english-words = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "*"
certifi = "*"
python-dateutil = "*"
django-sendgrid-v5 = "*"

[dev-packages]

[requires]
python_version = "3.8.5"
